.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.text {
  text-align: center;
  padding: 2rem 0;
  color: #00427c;
}

/* styles.module.css */
/* styles.module.css */
.featureImg {
  padding: 2rem 0;
  width: 350px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  border-radius: 50% / 100%; /* Create a horizontal oval */
  object-fit: cover; /* Ensure the image covers the container */
}

.customButton {
  background-color: #00427c;
  color: white;
  font-size: 1.5em;
  padding: 15px 50px; /* Increased horizontal padding */
  border: none;
  border-radius: 30px; /* High border-radius for oval shape */
  cursor: pointer;
  display: inline-block; /* Make it inline-block to not take the full width */
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  text-decoration: none;
}

.customButton:hover {
  background-color: #003366;
  transform: translateY(-2px); /* Slight lift on hover */
}

.newSection {
  margin-top: 40px;
}

.sectionTitle {
  text-align: center;
  padding: 5rem 0;
  color: #00427c;
}

.buildingSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  text-align: center;
}

.buildingImage {
  width: 100%;
  height: auto;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}
