.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.text {
  text-align: center;
  padding: 2rem 0;
  color: #00427c;
}

/* styles.module.css */
/* styles.module.css */
.featureImg {
  padding: 2rem 0;
  width: 350px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  object-fit: cover; /* Ensure the image covers the container */
}

.title{
  color: #00427c;
}