.team-member {
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1 1 45%; /* Flex-grow, flex-shrink, and flex-basis */
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

.team-member img {
  width: 250px; /* Set the desired width for the images */
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px; /* Add some space below the image */
}


  .text2 {
    text-align: center;
    padding: 2rem 0;
    color: #00427c;
  }
 