.team-container {
    text-align: center;
  }
  
  .teamGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .teamMember {
    text-align: center;
    max-width: 200px;
  }
  
  .teamPhoto {
    width: 100%;
    border-radius: 50%;
  }
  
  
  