.text {
    text-align: center;
    padding: 1rem 0;
    color: #00427c;
  }
  
  .text2 {
    text-align: center;
    padding: 1rem 0;
    color: #626b74;
  }
  .text3 {
    text-align: center;
    padding: 1rem 0;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  