.project-page-container {
  padding: 2rem;
}

.project-page-container h1 {
  font-size: 2rem !important;
  padding: 1rem 0 !important;
  color: var(--custom-header-color) !important;
  text-align: center !important;
}

.project-page-container h2 {
  font-size: 1.5rem !important;
  padding: 1rem 0 !important;
  color: grey !important;
  text-align: center !important;
  font-style: italic !important;
}

.project-page-container h3 {
  font-size: 1.75rem !important;
  padding: 1rem 0 !important;
  color: var(--custom-header-color) !important;
  text-align: center !important;
}

.project-page-container p {
  font-size: 1.125rem !important;
  line-height: 1.6 !important;
  text-align: center !important;
  padding: 1rem 0 !important;
}

.project-page-container .pub1 {
  margin-top: 3rem !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  padding: 1rem 0 !important;
}

.project-page-container img {
  max-width: 60% !important;
  margin-bottom: 1.5rem !important;
  text-align: center !important;
}

.project-page-container ul {
  list-style-type: none !important;
  padding: 0 !important;
}

.project-page-container li {
  margin-bottom: 1rem !important;
}

.project-page-container a {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  line-height: 1.6 !important;
  padding: 1rem 0 !important;
  text-align: start !important;
  color: var(--custom-header-color) !important;


}
.publicationtit {
  font-size: 1.25rem !important;
  font-weight: bold !important;
  color: var(--custom-header-color) !important;
  text-align: start !important;
}


.project-page-container a:hover {
  text-decoration: underline !important;
}

.project-page-container hr {
  margin: 2rem 0 !important;
  text-align: center !important;
  border: none !important;
  border-top: 1px solid #ddd !important;
}

/* Paragraph container styles */
.paragraph-container {
  display: flex !important;
  flex-direction: column-reverse !important; /* Stack image and text on mobile */
  align-items: center !important;
  justify-content: center !important;
  margin: 2rem 0 !important;
  min-height: 300px; /* Adjust this value based on your design needs */
}

/* Responsive Adjustments */
@media (min-width: 768px) {
  .paragraph-container {
      flex-direction: row !important;
      align-items: center !important; /* Center vertically */
  }
  .paragraph-container p {
      flex: 1 !important;
      text-align: center !important;
      padding-right: 2rem !important;
  }
  .paragraph-container img {
      max-width: 30% !important;
      margin-left: 2rem !important;
  }
}

@media (min-width: 1200px) {
  .paragraph-container img {
      max-width: 40% !important;
      
  }
}

/* Root color variables */
:root {
  --custom-header-color: #00427c;
}

[data-theme='dark'] {
  --custom-header-color: #ffffff;
}
