.pdf-icon {
    float: right;
    width: 100px;
    margin-left: 10px;
  }
  /* styles.module.css */



/* Dark mode styles */


/* Light mode styles */
@media (prefers-color-scheme: light) {
  .text-color {
    color: #00427c; /* Your existing color */
  }
}

  