.team-page {
  text-align: center;
  padding: 20px;
}

.team-first-member {
  margin-bottom: 40px; /* Add some space below the first member */
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-title {
  width: 100%;
  text-align: center;
  margin: 40px 0 20px;
  font-size: 2.2em;
  color: #00427c;
}

@media (max-width: 768px) {
  .team-member {
    flex: 1 1 90%;
  }
}

.team-member {
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1 1 45%; /* Flex-grow, flex-shrink, and flex-basis */
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  color: #00427c; /* Change the text color */

}

.team-member img {
  width: 250px; /* Set the desired width for the images */
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px; /* Add some space below the image */
}

.team-member.first-member img {
  width: 250px; /* Set the desired width for the first member's image */
  height: auto;
}




  .text2 {
    text-align: center;
    padding: 2rem 0;
    color: #00427c;
    margin-bottom: 50px;
  }
 