.container {
  text-align: center;
  padding: 2rem;
}

/* Custom header styling */
.customHeader {
  color: var(--custom-header-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
}

/* Section styling */
.typeSection {
  margin-top: 2rem;
}

/* Type header styling */
.typeHeader {
  color: var(--custom-header-color);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
}

/* Team list styling */
.teamList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* Team member styling */
.teamMember {
  display: flex;
  color: var(--custom-header-color);
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  margin: 3rem;
  max-width: 1200px;
  align-items: center;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image container styling */
.imageContainer {
  flex-shrink: 0;
  width: 225px;
  height: 225px;
  margin-right: 1.5rem;
}

/* Team image styling */
.teamImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Info container styling */
.infoContainer {
  flex-grow: 1;
}

/* Custom name styling */
.customName {
  color: var(--custom-header-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

/* Custom position styling */
.customPosition {
  color: var(--custom-header-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* Color variables */
:root {
  --custom-header-color: #00427c;
}

[data-theme='dark'] {
  --custom-header-color: #ffffff;
}

/* Responsive Adjustments */

/* For screens smaller than 768px (tablets and smaller) */
@media (max-width: 768px) {
  .customHeader, .typeHeader {
      font-size: 1.75rem;
      margin: 2rem;
  }

  .teamMember {
      flex-direction: column;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem;
  }

  .imageContainer {
      width: 175px;
      height: 175px;
      margin-right: 0;
      margin-bottom: 1rem;
  }

  .customName {
      font-size: 1.25rem;
  }

  .customPosition {
      font-size: 0.9rem;
  }
}

/* For screens smaller than 480px (mobile phones) */
@media (max-width: 480px) {
  .customHeader, .typeHeader {
      font-size: 1.5rem;
      margin: 1.5rem;
  }

  .teamMember {
      padding: 1rem;
      margin: 1.5rem;
  }

  .imageContainer {
      width: 125px;
      height: 125px;
  }

  .customName {
      font-size: 1rem;
  }

  .customPosition {
      font-size: 0.85rem;
  }
}
